game.chinobijman.nl {
    tls internal

    @multiPaths path /api/* /socket.io/* /ws/* /docs*
    handle @multiPaths {
        reverse_proxy backend:3001
    }

    # Adminer
    handle /adminer* {
        reverse_proxy adminer:8080
    }

    # Frontend
    handle {
        reverse_proxy frontend:3000
    }
}